{% extends 'base.html.twig' %}

{% block title %}Новый урок{% endblock %}

{% block body %}
    <h1>Создать новый урок</h1>

    {{ include('lesson/_form.html.twig') }}
    <a href="{{ path('app_lesson_index') }}">Вернуться к списку</a>
{% endblock %}
